In [1]:
import pandas as pd

In [2]:
cluster_df = pd.read_csv('./notebooks/clusters.csv')

In [5]:
cluster_df[cluster_df.cluster==0]

    Unnamed: 0  coin    return    variance  cluster
28          28  BTT1  6.718235  108.406759        0
36          37  HOT1  5.883760   74.008961        0
40          41   ENJ  8.187812  124.015507        0
43          44  MANA  5.866293   71.159058        0
57          59  ANKR  7.549854  129.732200        0
82          84   FET  5.404705   84.151166        0
92          94   AVA  6.046762   68.050562        0