#### Classification Model to determine if a coin price is moving up or down

In [1]:
import os
import pandas as pd
import numpy as np
import datetime
import warnings
from sklearn.ensemble import RandomForestClassifier
warnings.filterwarnings('ignore')

##### Load Training Data

In [2]:
'''
Function to load labeled data from disk 
'''

def load_data(symbol,path):
    df = pd.read_csv(path + '/' + symbol + '.csv')
    df = df.reset_index(drop=True)
    
    return df

##### Classifier

In [3]:
df = load_data('BTC','../labeled-data')

In [4]:
df.head()

,Unnamed: 0,symbol,Date,High,Low,Open,Close,signal
0,0,BTC,2019-01-01,3850.913818,3707.231201,3746.713379,3843.520020,0.0
1,1,BTC,2019-01-02,3947.981201,3817.409424,3849.216309,3943.409424,0.0
2,2,BTC,2019-01-03,3935.685059,3826.222900,3931.048584,3836.741211,0.0
3,3,BTC,2019-01-04,3865.934570,3783.853760,3832.040039,3857.717529,0.0
4,4,BTC,2019-01-05,3904.903076,3836.900146,3851.973877,3845.194580,0.0

In [5]:
sample = df.drop(columns=['symbol','Unnamed: 0', 'Date']).sample(frac=0.6)
sample.head()

             High           Low          Open         Close  signal
701  19160.449219  18590.193359  18698.384766  19154.230469     1.0
819  59586.070312  58505.277344  58926.562500  59095.808594     1.0
568   9530.518555   9319.653320   9375.080078   9525.363281     1.0
494   9913.863281   9580.644531   9840.906250   9593.896484     1.0
364   7335.290039   7169.777832   7294.438965   7193.599121     1.0

In [6]:
X = df.iloc[:,:-1]
X = X.drop(columns=['symbol','Date', 'Unnamed: 0'])
X.head()

          High          Low         Open        Close
0  3850.913818  3707.231201  3746.713379  3843.520020
1  3947.981201  3817.409424  3849.216309  3943.409424
2  3935.685059  3826.222900  3931.048584  3836.741211
3  3865.934570  3783.853760  3832.040039  3857.717529
4  3904.903076  3836.900146  3851.973877  3845.194580

In [7]:
Y = df.iloc[:,-1]
Y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: signal, dtype: float64

In [8]:
clf = RandomForestClassifier(n_jobs=8)
clf.fit(X.to_numpy(),Y.to_numpy())

RandomForestClassifier(n_jobs=8)